*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: verdana; */
    font-family: verdana;

}

/*===============================side-bar styling======================================*/
.sidebar{
    position: absolute;
    left: 0;
    top: 4.5rem;
    width: 230px;
    height: 100%; 
    overflow-y: auto;
    background: rgb(7, 125, 184);
    transition: all .5s ease;

}
header{
    position: absolute;
    left: 50%;
    top: 1rem;
    font-size: 22px;
    color: wheat;
    text-align: center;
    line-height: 70px;
}
.sidebar .list .itemLink{
    display: block;
    height: 100%;
    line-height: 47px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(249, 244, 244);
    transition: .4s;
    list-style: none;
    position: relative;
}
.hov{
    background: #52abd4;
    padding-left: 25px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.sublist2 .sub_link:hover{
    background: #52abd4;
    margin-left: 25px;
    transition: 1.5s;
}

.item:hover .itemLink{
    padding-left: 40px;
    background-color: #57a4ca;
    transition: 1.2s;
}
.sublist{
    background: rgb(9, 109, 159);
    height: auto;
    width: 100%;
    transition: all 2.3s;

    
}
.sidebar .list .itemLink:active{
    background: rgb(236, 236, 234);
}

.sidebar .list  .itemLink #icon{
    margin-right: 15px;
    color: white;
}
.sub_link{
    display: none;
    padding: 3px;

}
i{
    font-size: 1.5rem;
}
.sublist2 i,
.sublist i{
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}
/*==================================nav-bar styling ======================================*/
.horizontal{
    width: 100%;
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(16, 102, 182);
    
}

#angles{

   position: absolute;
   bottom: 6.5px;
   right: 10px;
   font-size: 1.5rem;
}
#usser{
    position: absolute;
    bottom: 6.5px;
    right: 10px;
    font-size: 1.5rem;
    color: white; 
    font-size: 2.5rem;
}
.user-box{
    display: none;
    position: absolute;
    top: 5rem;
    right: 2rem;
    background: rgba(64, 183, 246, 0.8);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    width: 19rem;
    transform-origin: top right;
    line-height: 2;
    z-index: 1;

}
.fa-user:hover .user-box{
    display: block;
}

/*====================================--------SECTION TO BE USED ACROSS THE WHOLE SYSTEM-----=========================================================================*/
section{
    
    position: absolute;
    right: 0;
    top: 4.5rem;
    left: 230px;
    height: 100vh;
    background: rgb(150, 176, 231);
    overflow-y: auto;
}

/*================================================----cards----==================================*/
.cards{
    padding: 5px 5px;
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 290px;
    height: 140px;
    background: rgb(196, 215, 227);
    margin: 10px 5px;
    display: inline-flex;
    align-items: center;
    
    box-shadow:  4px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 ;
    border-radius: 10px;
}
.box{
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 125, 184);
    height: 100%;
    width: 37%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
#icon1{
    color: #a1cadd;
    font-size: 4.5rem;
   margin: 30px 0 0 16.5px;
   
}
.box2{
    margin: 5px;
}
.box2 h3{
  margin: .5rem;
  font-size: 1.4rem;
}
.box2 h1{
  font-size: 2rem;
}

/* ====================================== dashboard chart stylling==========================================*/

.content2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom:3rem;
}

.recent{
    height: 320px;
    width: 600px;
    flex: 5;
    background: rgb(193, 200, 228);
    margin: 0 25px 25px 25px;
    box-shadow: 4px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 ;
}
.recents{
    height: 320px;
    width: 350px;
    flex: 5;
    background: rgb(193, 200, 228);
    margin: 0 25px 25px 25px;
    box-shadow: 4px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 ;
}
.content
{
    background: #e3e3eb;
   
  
}


/*-=========================================-------section comtent--------====================================================*/
.down{
    min-height: 100%;
}

/*=================list container====================*/
 .main-products{
    background: white;
    width: 90%;
    height: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow:  4px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 ;
 }
 .haed{
    color: rgb(57, 77, 82);
    margin: 1rem;
    font-size: 2rem;
    font-weight: bolder;
}
.butts{
    margin-bottom: 2rem;   
   }
   .add{
       background: rgb(7, 125, 184);
       height: 3rem;
       color: white;
       text-decoration: none;
       border: none;
       border-radius: 10px;
       padding: 1rem;
       margin-left: 2rem;
   }
   .add:hover{
       transform: scale(1.2);
   }
   .copy{
       height: 2rem;
       color: rgb(252, 247, 247);
       width: 3rem;
       border: none;
       background-color: grey;
       border-radius: 5px;
       padding: 4px;
       margin-right: 1rem;
   }
   .copy:hover{
       transform: scale(1.4);
   }
   /*===========================search bar styling===========================*/
   form .search{
    position: relative;
   }
   
    .search{
       position: absolute;
       border-radius: 40px;
       right: 7rem;
       display: flex;
       height: 2.7rem;
       width: 10rem;
   
   
   }
   .search-btn{
       color: #b3c5ce;
       height: 2rem;
       width: 2rem;
       border-radius: 50%;
       position: absolute;
       right: .06rem;
       top: 0.32rem;
       border: none;
       background: grey;
   
   }
   .search-btn:hover {
       transform: scale(1.2);
   }


   .text-area{
       border: none;
       background: #b3c5ce;
       text-align: center;
       border-radius: 40px;
   
   
   }

   /*==================================table styling=============================*/
   table{
       width: 100%;
   }
   tr{
    border-bottom: 1px solid rgb(47, 161, 210);
    width: 100%;
   }
   th{
       color: grey;
       font-size: 25px;
       border-bottom: 1px solid black;
   }
   td{
    text-align: center;
    font-size: 20px;
    padding-top: .5rem;
    margin-bottom: .5rem;
    color: grey;
    
}



/*---============================confirmation dialog===================================*/
 .confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 150px;
    width: 200px;
    background-color: #042331;
    border: 1px solid #ccc;
    z-index: 1000;
}
.poster{
    margin-top: 4.6rem;
    margin-left: 2.6rem

}
.col{
    color: white;
    font-size: 20px;
    text-align: center;
}

/*----=========================================form styling====================================*/

.edit-form1, .edit-form2, .edit-form3{
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 14px;
    
    width: 350px;
    background: #042331;
    z-index: 1000;
    overflow: hidden;

}
#editForm{
    display: grid;
    position: relative;
    height: 100%;
    
    
}
input{
    width: 100%;
    height: 2rem;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

label{
    color: white;
    font-size: medium;
    margin: 5px;
}
/*======================================form buttons===========================*/

#danger{
  display: none; 
  background: green; 
  color: white; 
  padding: 10px;
  border-radius: 20px;
  width: 85%;
  margin-left: 3rem;
  height: 1.16rem;
}
#danger button{
    float: right;

}

span{
    background: red;
    padding: 3px;
    color: white;
    font-size: 13px;
}
.update{
display: none;
position: fixed;
right: 0;
top: 0;
left: 0;
max-height: 100%;
background: lightblue;
overflow-y: auto;
z-index: 1100;
}
.update form{
width: 50%;
display: block;
background: #fff;
padding: 1rem;
margin: 2rem auto;
text-align: center;
}
.update .edit
.update .btn{
width: 30%;
cursor: pointer;
color: white;
}
#edit, #del{
    height: 2.7rem;
    color: white;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
}
#edit{
    background: blue;
    width: 2.5rem;

}
#del{
    background: red;
    width: 3.5rem;
}

.btn{
background: red;
}
.update form img{
width: 60%;
}
form input{
width: 80%;
margin: .5rem;
}

.man{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    grid-template: 1fr 1fr 1fr 1fr;
}
input
select{
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 23px;
    background: rgb(147, 199, 225);
}
.man label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.man h1{
    margin-left: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
}
.man button{
     border: none;
     border-radius: 0.57rem;
     font-size: 23px;
    font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     cursor: pointer;
     width: 20%;
     background: rgb(2, 83, 246);
     
     height: 3rem;
}


